#header-profile {
  display: none !important;
}

#header-profile.show-profile {
  display: flex !important;
}

#product-gallery .carousel-inner img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

#thumbnail-row img {
    max-width: 50%;
    margin: 0 auto;
}

#description-box {
    min-height: 180px; /* adjust to taste */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    cursor: pointer;
}

.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-title {
  font-weight: 600;
}

.cart-item-subtext {
  font-size: 0.85rem;
  color: #aaa;
}

.cart-remove {
  font-size: 0.8rem;
  color: #ff6b6b;
  cursor: pointer;
}
