#header-profile {
  display: none !important;
}

#header-profile.show-profile {
  display: flex !important;
}

#product-gallery .carousel-inner img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

#thumbnail-row img {
    max-width: 50%;
    margin: 0 auto;
}

#description-box {
    min-height: 180px; /* adjust to taste */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    cursor: pointer;
}

.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

#heroCarousel .carousel-item {
    height: 600px;
    background: #111;
    position: relative;
}

#heroCarousel .carousel-item .slide-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroCarousel .carousel-item img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-title {
  font-weight: 600;
}

.cart-item-subtext {
  font-size: 0.85rem;
  color: #aaa;
}

.cart-remove {
  font-size: 0.8rem;
  color: #ff6b6b;
  cursor: pointer;
}

.product-wrapper {
    background-color: #2D2D37;
    border: 2px solid #27262E;
    border-radius: 12px;
    padding: 30px;
    margin-top: 20px;
}

.product-wrapper .card {
    background-color: #1F1F25;
    border: 1px solid #27262E;
}

.checkout-wrapper {
    background-color: #2D2D37;
    border: 2px solid #27262E;
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;
}

.checkout-item {
    background-color: #1F1F25;
    border: 1px solid #27262E;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.summary-box {
    background-color: #1F1F25;
    border: 1px solid #27262E;
    border-radius: 8px;
    padding: 20px;
}
